div.beta,
div.notbeta {
    display : none;
}

html.notbeta div.notbeta,
html.beta div.beta {
   display : block;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




#loadProgress {
  width: 180px;
  background-color: #ddd;
}

#loadBar {
  width: 2px;
  height: 10px;
  background-color: #4CAF50;
}

#opengif,
#rungif {
  display : none;  
  filter: invert(1);
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
}

#runBtn,
#openBtn {
    
    width:  180px;
}

#install-shell{
    display:none;
}

html.show_shell #install-shell{
    display:flex;
}

html.show_shell.scrolled #install-shell > div.shell__content > div:first-child,
html.show_shell.busy #install-shell > div.shell__content > div:last-child {
    display :none;
}

