div.beta,
div.notbeta {
    display : none;
}

html.notbeta div.notbeta,
html.beta div.beta {
   display : block;
}


#loadProgress {
  width: 180px;
  background-color: #ddd;
}

#loadBar {
  width: 2px;
  height: 10px;
  background-color: #4CAF50;
}

#rungif {
  display : none;  
  filter: invert(1);
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  
}

#runBtn {
    
    width:  180px;
}

#install-shell{
    display:none;
}

html.show_shell #install-shell{
    display:flex;
}

