   
#PWA_BOOT,
#PWA_BOOT .beta,
#pwa_info,
#PWA_BOOT .notbeta {
   position : absolute;
   font-family:Monaco;
   left   : 0;
   top    : 0;
   width  : 100vw;
   height : 100vh;
}


#pwa_info {
    
    top : unset;
}

 
div.beta,
div.notbeta {
    display : none;
}

html.notbeta div.notbeta,
html.beta div.beta {
   display : block;
}

 
 html.registering div.beta div.pwa_info,
 div.viewType,
 div.textInput {
     
     display:none;
 }
 
 
 
 html.registering #PWA_BOOT,
 html.registering #PWA_BOOT .beta,
 html.registering #pwa_info,
 html.registering #PWA_BOOT .notbeta,
 html.registering #PWA_BOOT .notbeta,
 html.registering body,
 html.registering div
 
 {
     
     background-color: #1c3802;
     color:white;
 }
 
 
  
 html.unregistering #PWA_BOOT,
 html.unregistering #PWA_BOOT .beta,
 html.unregistering #pwa_info,
 html.unregistering #PWA_BOOT .notbeta,
 html.unregistering #PWA_BOOT .notbeta,
 html.unregistering body,
 html.unregistering div
 
 {
     
     background-color: red;
     color:white;
 }
 
 
  
  
 html.unregistered #PWA_BOOT,
 html.unregistered #PWA_BOOT .beta,
 html.unregistered #pwa_info,
 html.unregistered #PWA_BOOT .notbeta,
 html.unregistered #PWA_BOOT .notbeta,
 html.unregistered body,
 html.unregistered div
 
 {
     
     background-color: blue;
     color:white;
 }
 
 
 
body, 
#PWA_BOOT {
    overflow-y:auto;
}