   
#PWA_BOOT,
#PWA_BOOT .beta,
#pwa_info,
#PWA_BOOT .notbeta {
   position : absolute;
   font-family:Monaco;
   left   : 0;
   top    : 0;
   width  : 100vw;
   height : 100vh;
}


html.register #pwa_info {
    
    top : unset;
}

 
div.beta,
div.notbeta {
    display : none;
}

html.notbeta div.notbeta,
html.beta div.beta {
   display : block;
}

 
 html.register div.beta div.pwa_info,
 div.viewType,
 div.textInput {
     
     display:none;
 }
 
 
 
 html.register #PWA_BOOT,
 html.register #PWA_BOOT .beta,
 html.register #pwa_info,
 html.register #PWA_BOOT .notbeta,
 html.register #PWA_BOOT .notbeta,
 html.register body,
 html.register div
 
 {
     
     background-color: #1c3802;
 }
 
 
body, 
#PWA_BOOT {
    overflow-y:auto;
}