   
#PWA_BOOT,
#PWA_BOOT .beta,
#pwa_info,
#PWA_BOOT .notbeta {
   position : absolute;
   background-color:gray;
   color  : white;
   font-size:18pt;
   font-family:Monaco;
   left   : 0;
   top    : 0;
   width  : 100vw;
   height : 100vh;
}

#PWA_BOOT .beta {
   height : 20vh;
}
#pwa_info {
   top    : 20vh;
   height : 80vh;
}


#PWA_BOOT .notbeta {
   background-image: url('/zed/app/Icon.png');;
   background-color:gray;
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}


h1,h2 {
    margin:0;
}

div.beta,
div.notbeta {
    display : none;
}

html.notbeta div.notbeta,
html.beta div.beta {
   display : block;
}

