#mobile_chooser,
p.oversize_x,
p.oversize_y,
p.undersize_x,
p.undersize_y,
.mobile_phone {
  display:none;
  position:absolute;
  z-index:99999999;
}

p.oversize_x,
p.undersize_x,
p.oversize_y,
p.undersize_y 
{  
  margin-block:0;
  margin:0;
  margin-right:60px;
  margin-top:-40px;
  
  padding:0;
  top:0;
  right:0;
  width:0;
  height:0;
  font-weight:bold;
  font-size:72pt;
  font-family:'Courier New';
  text-align:right;
}
p.oversize_y,
p.undersize_y 
{  
   top:unset;
   bottom:100px;
  
}


.mobile_phone.oversize_x p.oversize_x,
.mobile_phone.oversize_y p.oversize_y,
.mobile_phone.undersize_x p.undersize_x,
.mobile_phone.undersize_y p.undersize_y  {
  
  display : inline-block;
}


html.desktop.editor,
html.desktop.editor body {
    overflow:hidden;
}

html.desktop.editor .mobile_phone.oversize_x,
html.desktop.editor .mobile_phone.oversize_y,
html.desktop.editor .mobile_phone.undersize_x,
html.desktop.editor .mobile_phone.undersize_y  {
    display:inline-block;
    background-color:red;
    opacity : 0.75;
}

.mobile_phone {
  left:0;
  top:0;
  z-index:9999999;
}

.mobile_phone.generic_tablet {
    
  width:768px;
  height:1024px;
    
}

.mobile_phone.generic {
  width:320px;
  height:480px;
}

.mobile_phone.galaxy_S5,
.mobile_phone.motog4 {
  width:360px;
  height:640px;
}
.mobile_phone.pixel_2
 {
  width:411px;
  height:731px;
}

.mobile_phone.pixel_2XL
 {
  width:411px;
  height:823px;
}

.mobile_phone.iPhone_5,
.mobile_phone.iPhone_5_SE
 {
  width:320px;
  height:568px;
}

.mobile_phone.iPhone_6,
.mobile_phone.iPhone_7,
.mobile_phone.iPhone_8
 {
  width:375px;
  height:667px;
}

.mobile_phone.iPhone_6_Plus,
.mobile_phone.iPhone_7_Plus,
.mobile_phone.iPhone_8_Plus
 {
  width:414px;
  height:736px;
}

.mobile_phone.iPhone_X
 {
  width:375px;
  height:812px;
}

.mobile_phone.iPad
 {
  width:768px;
  height:1024px;
}
.mobile_phone.iPad_Pro
 {
  width:1024px;
  height:1366px;
}
.mobile_phone.surface_Duo
 {
  width:540px;
  height:720px;
}
.mobile_phone.galaxy_Fold
 {
  width:280px;
  height:658px;
}

.mobile_phone.Unihertz_Titan
 {
  width:573px;
  height:575px;
}


div.draggable_wrapper.editor,
.draggable.editor {
    display:none;
}

html.desktop.editor #mobile_chooser {
  display:inline-block;
  bottom:0;
  top:unset;
  height:20px;
  right:0;
  background-color:#303030;
  width:100%;
}


html.desktop.editor.floaters div.draggable_wrapper {    
    display: grid;     
    height: 100%; 
    width: 100%;
    
}



html.desktop.editor.floaters .draggable {
   margin: auto; 
   display:block;  
   position:absolute; 
   left: calc(98% -  320px); 
   top: 2%; 
   background-color: white; 
   width:285px; height:100px; 

} 

.draggable h1 {
    font-size:14pt;
}

.draggable textarea {
    
    pointer-events:auto;
    width:274px;
    height:50px;
    left:2px;
    top:40px;
    position:absolute; 
    overflow:hidden;
    background-color:bisque;
    
    
}

html.desktop.editor div.qr_wrapper {
    display: none!important;
}


html.desktop.editor.floaters div.qr_wrapper {
    display: inline-block !important;
}

   