
.slider-container {
	display: block;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
  
	position: relative;
	width : 100%;
	height : 80px;

	color: #000;
	font-family: "Monaco";
	background: #202020;
}

.slider-container p {
	display: block;
	position:absolute;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	top : 15%;
	height : 20%;
	right :2%;
	font-weight: 20;
	text-align: center;
	font-size: 16px;
	color: #fff;
}

.slider-container p.elapsed {
	left:2%;
	right:unset;
}

.slider-container input[type="text"] {	
	
	position: absolute;
	bottom:4px;
	color: #5e5e5e;
	margin-top: 0px;
	border: 1px solid black;
	padding: 0px 0px;
	width: 120px;
	left: calc(50% - 60px);
	font-size: 20px;
	text-align: center;
	z-index: 1;
}

.slider-container input[type="range"] {
	position: absolute;
	top: 40%;
	left: 2%;
	width: calc(96% - 4px);
	height: 10%;
	border: 2px solid #fff;
	border-radius: 10px;
	margin: auto;
	cursor: pointer;
}

html.mobile .slider-container input[type="range"] {	
		bottom: 5%;
		height: 33%;
	  top:unset;

}
html.mobile .slider-container input[type="text"] {
		display:none;
	
}
html.mobile  .slider-container p {
 font-size: 24px;
	
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="range"] {
		overflow: hidden;
		width: 100%;
		-webkit-appearance: none;
		background-color: #d3d3d3;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		height: 25px; /* Specified height */
		-webkit-appearance: none;
		color: #13bba4;
		margin-top: -1px;
	}

	input[type="range"]::-webkit-slider-thumb {
		width: 25px; /* Set a specific slider handle width */
		-webkit-appearance: none;
		height: 25px; /* Specified height */
		cursor: ew-resize;
		background: #434343;
		box-shadow: -100vw 0 0 100vw #3f5efb;
	}

	/** FF*/
	input[type="range"]::-moz-range-progress {
		background-color: #3f5efb;
		box-shadow: -100vw 0 0 100vw #3f5efb;
	}
	input[type="range"]::-moz-range-track {
		background-color: #d3d3d3;
	}
	/* IE*/
	input[type="range"]::-ms-fill-lower {
		background-color: #3f5efb;
	}
	input[type="range"]::-ms-fill-upper {
		background-color: #d3d3d3;
	}
}

