
body {
    overflow : hidden;
}
 #e {
     position: absolute;
     top: -1px;
     right: 16px;
     cursor: pointer;
     width: 16px;
 }
  
 #e img {
     width : 16px;
     height :16px;
 }

#e.editing  {
  background-color:lime;
}

html.restarting #e  {
    
  background-color:red;
}

 #r {
     position:absolute;
     top: 0;
     right: 0px;
     width : 16px;
     height :16px;
     cursor: pointer;
 }
 
 #r img {
     filter: invert(1);
     width : 16px;
     height :16px;
    
 }