
.keyhelptext {
    width: 100vw;
    display: none;
   
    line-height:50px;
     font-size: 28px;
  
    user-select:none;
    font-family: 'Lucida', sans-serif;
   
    position: absolute;
    bottom: 4px;
    right: 180px;
  
     text-align:right;
  }

  .key__button {
    box-sizing: border-box;
    line-height: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 24px;
    text-align: center;
    width: 40px;
    color: #555;
    cursor: pointer;
    margin: 0 4px;
    height: 40px;
    
    
    border-color: #f2f2f2;
    border-style: solid;
    text-shadow: 0 0.25px 0.5px #777, 0 1px 3px #f2f2f2;
    border-width: 2px;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
    display: inline-block;
    transition: box-shadow 0.3s ease, transform 0.15s ease;
    box-shadow: 0 0 0.5px #888, 0 0.5px 0 #fff, 0 3px 0 #C0C0C0, 0 4px 8.5px rgba(68, 68, 68, 0.4), 1px 0.5px 2px rgba(68, 68, 68, 0.25), -1px 0.5px 2px rgba(68, 68, 68, 0.25), 0 4.5px 8px rgba(68, 68, 68, 0.1);
  }



  .key__button:hover, .key__button:focus {
    box-shadow: 0 0 0.5px #888, 0 0.5px 0 #fff, 0 2px 0 #C0C0C0, 0 1px 17.5px rgba(68, 68, 68, 0.3), 1px 1px 2px rgba(68, 68, 68, 0.25), -1px 1px 2px rgba(68, 68, 68, 0.25), 0 3.5px 2px rgba(68, 68, 68, 0.1);
    transform: translateY(1px);
  }
  
  .key__button.simulate,
  .key__button:active {
    box-shadow: 0 0 0.5px #888, 0 0.5px 0 #fff, 0 0 0 #C0C0C0, 0 0px 15px rgba(68, 68, 68, 0.15), 1px 1px 2px rgba(68, 68, 68, 0.25), -1px 1px 2px rgba(68, 68, 68, 0.25), 0 0px 2px rgba(68, 68, 68, 0.25);
    transform: translateY(1px);
    background:#e0e050;
  }

/*  
.key__button:after  {
  position:relative;  
  left: -40px;
}
*/

.key__space  {
  width: 100px;
}

.key__space:after  {
  content : "Space";
  /*left: -100px;*/
}

.key__enter  {
  width: 100px;
}

.key__enter:after  {
  content : "Enter";
  /*left: -100px;*/
}

.key__backspace  {
  width: 100px;
}

.key__backspace:after  {
  content : "Backspace";
  /*left: -100px;*/
}

.key__period:after  {
  content : ".";
}

.key__colon:after  {
  content : ":";
}

.key__pause:after  {
  content : "\0022";
}

.key__undopause:after  {
  content : "\0027";
}

.key__arrowup:after  {
  content : "\2191";
}

.key__arrowdown:after  {
  content : "\2193";
}

.key__arrowleft:after  {
  content : "\2190";
}

.key__arrowright:after  {
  content : "\2192";
}

.key__q:after  {
  content : "Q";
}

.key__b:after  {
  content : "B";
}

.key__f:after  {
  content : "F";
}

.key__m:after  {
  content : "M";
}

.key__t:after  {
  content : "T";
}

.key__p:after  {
  content : "P";
}

.key__s:after  {
  content : "S";
}

.key__x:after  {
  content : "X";
}

.key__c:after  {
  content : "C";
}

.key__r:after  {
  content : "R";
}

.key__k:after  {
  content : "K";
}

 